<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_tag(update_hide_roles_roles_path, :method => "post") do %>

        <% @roles.each do |role| %>
          <div class="form-group">
            <%= check_box_tag "role_ids[]", role.id, role.hidden %>
            <%= label_tag role.role_type %>
          </div>
        <% end %>

        <div class="actions">
          <%= submit_tag "Hide roles", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
